.bg
{
	background-image: url('../images/bg.png');
	background-repeat: repeat-x;
}

.main-content{
	background-color: white;
	margin: 1em;
	padding: 1em;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5
{
	color: maroon;
}

.main-content .header{
	background-color: maroon;
	color: white;
	margin-left: 20em;
	padding: .5em;
	margin-right: -1em;
}

.amtg-logo {
	float:left;
	width: 50%;
}

.amtg-updates
{
	float: right;
	width: 20px;

}
.amtg-header div.amtg-logo {
	font-size: 1em;
	margin: .6em 2.5em;
}
.amtg-header .amtg-logo a {
	display: inline-block;
	text-decoration: none;
	min-height: 40px;
}
.amtg-header .amtg-logo img {
	display: block;
	width: auto;
	height: 30px;

}
.amtg-demos-home .amtg-header .amtg-logo img {
	display: inline-block;
}

.amtg-search
{
	float:right;
	width: 25%;
	text-align: left;
}


/*icons*/
.nav-glyphish-example .ui-btn .ui-btn-inner {
		padding-top: 40px !important;
		}
		.nav-glyphish-example .ui-btn .ui-icon {
		width: 32px!important;
		height: 32px!important;
		margin-left: -15px !important;
		box-shadow: none!important;
		-moz-box-shadow: none!important;
		-webkit-box-shadow: none!important;
		-webkit-border-radius: none !important;
		border-radius: none !important;
		}

#morning .ui-icon {
		background:  url(../images/icon-morning.png) 50% 50% no-repeat;
		background-size: 30px 22px;
		}

#daily-recap .ui-icon {
		background:  url(../images/icon-daily-recap.png) 50% 50% no-repeat;
		background-size: 30px 22px;
		}

#research .ui-icon {
		background:  url(../images/icon-research.png) 50% 50% no-repeat;
		background-size: 30px 22px;
		}
#funds .ui-icon {
		background:  url(../images/icon-funds.png) 50% 50% no-repeat;
		background-size: 30px 22px;
		}

#tools .ui-icon {
		background:  url(../images/icon-tools.png) 50% 50% no-repeat;
		background-size: 30px 22px;
		}